name: CI-CD to EKS

on:
  push:
    branches:
      - main

env:
  AWS_REGION: us-east-1
  AWS_ACCOUNT_ID: "495417556969"
  ECR_REPOSITORY: devops-nginx-app
  EKS_CLUSTER_NAME: devops-eks-cluster

jobs:

  build:
    runs-on: ubuntu-latest
    outputs:
      image_tag: ${{ steps.vars.outputs.image_tag }}

    steps:
      - uses: actions/checkout@v4

      - name: Set image tag
        id: vars
        run: echo "image_tag=${GITHUB_SHA::7}" >> $GITHUB_OUTPUT

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build and Push Image
        run: |
          ECR_URL="${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com"
          docker build -t ${ECR_REPOSITORY}:${{ steps.vars.outputs.image_tag }} ./app
          docker tag ${ECR_REPOSITORY}:${{ steps.vars.outputs.image_tag }} \
          ${ECR_URL}/${ECR_REPOSITORY}:${{ steps.vars.outputs.image_tag }}
          docker push ${ECR_URL}/${ECR_REPOSITORY}:${{ steps.vars.outputs.image_tag }}

  test:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - uses: actions/checkout@v4

      - name: Basic Validation
        run: |
          echo "Running basic validation..."
          test -f app/Dockerfile
          echo "Validation successful"

  deploy:
    runs-on: ubuntu-latest
    needs: test

    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Update kubeconfig
        run: aws eks update-kubeconfig --region ${AWS_REGION} --name ${EKS_CLUSTER_NAME}

      - name: Deploy using Helm
        run: |
          helm upgrade --install eks-app ./helm/eks-app \
            -n dev \
            --set image.tag=${{ needs.build.outputs.image_tag }}
